// Colors
$color-primary-1: #515276;
$color-primary-2: #9b91b6;
$color-primary-3: #494a6f;
$color-primary-4: #3e3f67;
$color-primary-5: #34355f;
$color-primary-6: #525469;

$color-secondary-1: #34355f;
$color-secondary-2: #272944;
$color-secondary-3: #0a0b13;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #c9c9c9;

$color-grey-dark-1: #222;

$color-green: #6cc388;
$color-red: #fa141d;

// Shadow
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 1rem 2rem rgba(0, 0, 0, 0.2);

// Font
$default-font-size: 1.7rem;
$font-family: 'Roboto', sans-serif;

// FontAwesome
$fa-font-path: '../fontawesome/webfonts';
