.card {
  background-color: $color-secondary-2;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: $box-shadow;
  transition: 0.2s ease;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__header {
    border-bottom: 1px solid $color-primary-6;
    padding-bottom: 2rem;
  }

  &__content {
    padding-top: 2rem;
  }

  &--profile {
    position: relative;
    width: 100%;
    padding: 12rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
